<?xml version="1.0"?>
<pages xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://zhy.seo.sh.cn/Pages">
  <page name="ErrorLog" path="/Pages/Common/ErrorLog.aspx"/>
  <page name="ErrorLogDetails" path="/Pages/Common/ErrorLogDetails.aspx"/>
 

  <page name="Index" path="/Pages/Index.aspx"/>
  <page name="Dashboard" path="/Pages/Common/Dashboard.aspx"/>
  <page name="User" path="/Pages/User/User.aspx"/>
  <page name="Login" path="/Login.aspx"/>
  <page name="SalesTop10" path="/SalesTop10.aspx"/>
  <page name="TeamBuilding" path="/Pages/TeamBuilding.aspx"/>

  <page name="UserInfo" path="/Pages/SystemUser/UserInfo.aspx"/>
  
  <page name="SystemUser" path="/SystemUser"/>
  <page name="SystemUserPrivilege" path="/SystemUserPrivilege"/>
  <page name="SystemUserMaintain" path="/SystemUserMaintain"/>
  <page name="SystemUserPrivilegeMaintain" path="/SystemUserPrivilegeMaintain"/>
  <page name="SystemUserRole" path="/SystemUserRole"/>
  <page name="SystemUserRoleMaintain" path="/SystemUserRoleMaintain"/>
  <page name="SystemUserRoleMapping" path="/SystemUserRoleMapping"/>  
  <page name="Management" path="/Management"/>
  <page name="ManagementMaintain" path="/ManagementMaintain"/>
  <page name="Charge" path="/Charge"/>
  <page name="ChargeMaintain" path="/ChargeMaintain"/>
  <page name="ClubMembers" path="/ClubMembers"/>
  <page name="ClubMembersMaintain" path="/ClubMembersMaintain"/>
  <page name="ClubMembersManager" path="/ClubMembersManager"/>
</pages>