<?xml version="1.0"?>
<SiteMap xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://zhy.seo.sh.cn/SiteMap">
  <Node key="控制面板">
    <Parent key="系统分析">
      <Child pageAlice="History" key="历史记录" />
      <Child pageAlice="ErrorLog" key="系统错误日志" />
    </Parent>
    <Parent key="用户管理">
      <Child pageAlice="SystemUser" key="用户管理" />
      <Child pageAlice="SystemUser_Role" key="角色管理" />
      <Child pageAlice="SystemUser_Privilege" key="权限管理" />
      <Child pageAlice="1234123" key="其他" />
    </Parent>
  </Node>
  <Node key="前台相关">
    <Parent key="商品管理">
      <Child pageAlice="Product" key="商品管理" />
      <Child pageAlice="ProductMaintain" key="新品创建" />
      <Child pageAlice="ProductType" key="商品分类管理" />
    </Parent>
  </Node>
</SiteMap>