<?xml version="1.0" encoding="utf-8" ?>
<!-- 需要进行文件更改监控的配置.  文件修改后,重启APPDomain -->
<fileWatcherList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hosting.cn/">
  <fileItem value="Configuration" />
  <fileItem value="Configuration/Data" />
  <fileItem value="Configuration/Data/AccessDbCommand" />
  <fileItem value="Configuration/Data/SqlServerDbCommand" />
  <fileItem value="Configuration/Data/ElleShopAdminDbCommand" />
  <fileItem value="Configuration/Data/ReportDbCommand" />
  <fileItem value="Configuration/Data/MySqlDbCommand" />
  <fileItem value="Configuration/Data/SqlServerDbCommand" />
</fileWatcherList>