<?xml version="1.0" encoding="utf-8" ?>
<serviceList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://oversea.newegg.com/ServiceList">
	<service path="LogService" type="H.Service.Rest.LogService, H.Service.Rest" />
  <service path="ErrorService" type="H.Service.Rest.ErrorService, H.Service.Rest" />
  <service path="SystemUserService" type="H.Service.Rest.SystemUserService, H.Service.Rest" />
  <service path="SystemUser_PrivilegeService" type="H.Service.Rest.SystemUser_PrivilegeService, H.Service.Rest" />
  <service path="SystemUser_RoleService" type="H.Service.Rest.SystemUser_RoleService, H.Service.Rest" />
  <service path="ErrorLogService" type="H.Service.Rest.ErrorLogService, H.Service.Rest" />
  <service path="ProductTypeService" type="H.Service.Rest.ProductTypeService, H.Service.Rest" />
  <service path="ProductService" type="H.Service.Rest.ProductService, H.Service.Rest" />
  <service path="BrowsingHistoryService" type="H.Service.Rest.BrowsingHistoryService, H.Service.Rest" />
  <service path="ElleUserService" type="H.Service.Rest.ElleUserService, H.Service.Rest" />


  <service path="ExportReportService" type="H.Service.Rest.ExportReportService, H.Service.Rest" />
</serviceList>