<?xml version="1.0" encoding="utf-8"?>
<messageConfig>
  <message code="Register_Tip_Name">Name</message>
  <message code="Register_Tip_Phone">Phone</message>
  <message code="Register_Tip_Age">Age</message>
  <message code="Register_Button_Register">Register</message>
  <message code="Register_Alt_Success">Success！</message>
  <message code="Register_Alt_Error">Error！</message>
</messageConfig>