<?xml version="1.0" encoding="utf-8" ?>
<autorun>
	<startup>
    <!-- 启动文件监控宿主 -->
    <module type="H.Core.Utility.UrlMappingWatcherStartup, H.Core.Utility">
      <constructor>
        <arg>H.Core.Utility.BizException, H.Core.Utility</arg>
      </constructor>
    </module>
    <!-- 启动文件监控宿主 -->
    <module type="H.Core.Utility.FileSystemWatcherStartup, H.Core.Utility">
      <constructor>
        <arg>H.Core.Utility.BizException, H.Core.Utility</arg>
      </constructor>
    </module>
	</startup>
	<shutdown>
		
	</shutdown>
</autorun>