<?xml version="1.0" encoding="utf-8"?>
<!-- 
  roteName 路由名称
  roteUrl  路由地址
  physicalFile 路由物理地址
-->
<urlMapping xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.hosting.cn/">
  <rote roteName="Product" roteUrl="Product.html" physicalFile="~/Demo/Product/Product.aspx"></rote>
  <rote roteName="ProShow" roteUrl="Product/{proSysNo}" physicalFile="~/Demo/Product/ProShow.aspx"></rote>
</urlMapping>