<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log" type="H.Core.Utility.Log.LogSection, H.Core.Utility"/>
  </configSections>
  <log globalRegionName="H.Website.IISHost" localRegionName="H.Website.IISHost">
    <webservice param="LogService/CreateLog" />
    <!-- 日志文本记录地址，默认不写的情况不记录日志 -->
    <text param="D:/CenterLog/H.Website"/>
  </log>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <!-- 启动项 -->
    <add key="AutorunConfigPath" value="Configuration\Autorun.config"/>    
    <!-- 路由配置 -->
    <add key="UrlMapping" value="Configuration\UrlMapping.config"/>
    <!-- 文件监控配置 -->
    <add key="FileWatcherConfigPath" value="Configuration\FileWatcher.config"/>
  </appSettings>
</configuration>